DJANGO_DEBUG=1
SMART_MODEL_DIR=model_assets
SMART_MODEL_PATH=model_assets/models/YOLO/smart_checkout_model_small_v1.pt
SMART_PRODUCTS_PATH=model_assets/config/service/products.yaml
SMART_DEVICE=cpu
SMART_CONFIDENCE=0.35
