DJANGO_DEBUG=1
SMART_MODEL_DIR=C:\Users\Juan\Desktop\ModeloDL
SMART_MODEL_PATH=C:\Users\Juan\Desktop\ModeloDL\models\YOLO\smart_checkout_model_small_v1.pt
SMART_PRODUCTS_PATH=C:\Users\Juan\Desktop\ModeloDL\config\service\products.yaml
SMART_DEVICE=cpu
SMART_CONFIDENCE=0.35
